{% extends 'base.html' %}
{% block content %}

    <div class="mx-auto grid gap-3">
    <div class="container text-center mb-3 mt-3">
        <div class="row row-cols-1 row-cols-lg-5 g-4 g-lg-3">
            <div class="card overview" style="width: 75vw;">
                <div class="card-body">
                <h5 class="card-title ">Teams</h5>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Team</th>
                          <th scope="col"># of members</th>
                          <th scope="col">Prefered List</th>
                          <th scope="col">Disliked List</th>
                        </tr>
                      </thead>
                      <tbody>


                        {%for i in range(0,numTeams)%}
                        <tr>
                          <th scope="row">Team {{ i+1 }}</th>
                          <td contenteditable>{{ teamStrength[i][0]}}</td>

                        </tr>
                  {%endfor%}
                      </tbody>
</table>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mb-3 mt-3">
        <div class="row row-cols-1 row-cols-lg-1 g-1 g-lg-1">
            <div class="card overview" style="width: 75vw;">
                <div class="card-body">
                <h5 class="card-title ">Floors</h5>

                </div>
            </div>
        </div>
    </div>

    </div>
<!-- Here -->


{% endblock %}