:root {
  --white: #FBFAF5;
  --yellowGreen: #BFD857;
  --Green: #00A657;
  --gfad: #004B35;
  --bs-success-rgb: #00A657;

  --black: #fff;
}

body {
  background-color: #FBFAF5;
  background: radial-gradient(#004B35, #00A657);
}

.overview {
  color: black;
  font: inherit
}

hr {
  margin-bottom: 20vh;
}

.nav-item {
  width: 100%;
  /*border: 1px solid red;*/
}
.nav-link:hover {
  opacity: 50%;
  padding: 0px;
}


